<div class="card">
    <div class="card-header">
        <h2 class="mb-0">reputations</h2>
    </div>
    <div class="card-body">
        <% if (reputations.length > 0) { %>
            <ul class="list-group">
                <% reputations.forEach(reputation => { %>
                    <li class="list-group-item">
                        <%= reputation.reputationValue %> - User: <%= reputation.User.username %>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p class="mb-0">No reputations found.</p>
        <% } %>
    </div>
</div>