<div class="card">
    <div class="card-header">
        <h2 class="mb-0">Tokens</h2>
    </div>
    <div class="card-body">
        <% if (tokens.length > 0) { %>
            <ul class="list-group">
                <% tokens.forEach(token => { %>
                    <li class="list-group-item">
                        <%= token.tokenValue %> - User: <%= token.User.username %>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p class="mb-0">No tokens found.</p>
        <% } %>
    </div>
</div>