
<h1>
    Show Quiz:
</h1>

<% include ../attachments/_attachment %>

<div>
    <small> by <%= quiz.author?.username ?? "Anonymous" %> </small>
</div>

<ul>
    <li>Question: <b><%= quiz.question %></b></li>
    <li>Answer: <b><%= quiz.answer %></b></li>
</ul>

<a href="/quizzes" class="button">Go back</a>
