<!-- views/users/index.ejs -->
<div class="card">
    <div class="card-header">
        <h2 class="mb-0">List of Users</h2>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <!-- Agregar columnas según los atributos-->
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        <!-- Agragar atributos -->
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>